html {
    height: 100%;
}

body {
    padding: 15px;
    margin: 0;
    background: rgb(150,150,150);
    background: -moz-linear-gradient(16deg, rgba(150,150,150,1) 0%, rgba(27,139,255,1) 100%);
    background: -webkit-linear-gradient(16deg, rgba(150,150,150,1) 0%, rgba(27,139,255,1) 100%);
    background: linear-gradient(16deg, rgba(150,150,150,1) 0%, rgba(27,139,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#969696",endColorstr="#1b8bff",GradientType=1);
    background-attachment: fixed;
}

.container-rounded {
    border-radius: 10px;
    box-shadow: 0 0 20px grey;
    background-color: #FFFFFF;
    padding: 15px;
}

.dropdown-menu-justified {
    width: 100%;
    text-align: center;
}

.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.container {
    display: table;
    min-width: 260px;
    box-sizing: border-box;
}

.container .row .no-float {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.header {
    margin-top: 5px;
    border-bottom: 1px solid grey;
}

.footer {
    margin-bottom: 5px;
    border-top: 1px solid grey;
    padding-top: 10px;
}

.nav {
    padding-left: 5px;
}

.mainFrame {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

@media (min-width:991px) {
    .mainFrame {
        border-right: 1px solid grey;
    }
}

@media (max-width:990px) {
    .content-row {
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
    }
}

.sidebar {
    height: 100%;
}

.sidebar .topItem {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar .avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px grey;
}

.sidebar .bottomItem {
    border-top: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 15px;
}

.devide-bottom {
    border-bottom: 1px solid grey;
}

.devide-top {
    border-top: 1px solid grey;
}
